streamlit
gspread==5.12.0
dgoogle-auth==2.22.0
google-auth-oauthlib==1.0.0
oauth2client==4.1.3
pandas==2.2.2
matplotlib
plotly
numpy==1.26.2
streamlit_extras
streamlit-calendar
streamlit_javascript
pandasql
streamlit_carousel
kaleido
streamlit-aggrid==1.0.5
st-gsheets-connection
folium
streamlit_folium
pydrive2
docxtpl
docx
python-docx 
pdfkit